<template>
  <admin-layout>
    <v-banner class="mb-4">
      <div class="d-flex flex-wrap justify-space-between">
        <h5 class="text-h5 font-weight-bold">Daftar Buku Yang Dipinjam</h5>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0"></v-breadcrumbs>
      </div>
    </v-banner>

    <div class="d-flex flex-wrap align-center">

      <v-spacer />

    </div>
    <v-data-table
      :items="items.data"
      :headers="headers"
      :server-items-length="items.total"
      :loading="isLoadingTable"
      class="elevation-1"
    >

      <template #[`item.book_name`]="{ item }">
      {{ item.book.title }}
      </template>

      <template #[`item.book_author`]="{ item }">
      {{ item.book.author }}
      </template>


    </v-data-table>

      <v-btn :href="'/book-rent'" color="primary" outlined class='mt-5'>
        <v-icon dark left> mdi-arrow-left </v-icon> Kembali ke Daftar Peminjaman
      </v-btn>
  
  </admin-layout>
</template>

<script>
import AdminLayout from "../../layouts/AdminLayout.vue";
export default {
  props: ["items","rent_id"],
  components: { AdminLayout },
  data() {
    return {
      headers: [
        { text: "No", value: "index", sortable: false },
        { text: "Judul Buku", value: "book_name" },
        { text: "Penulis", value: "book_author" },
      ],
      breadcrumbs: [
        {
          text: "App",
          disabled: false,
          href: "/home",
        },
        {
          text: "Rented Books",
          disabled: true,
          href: "/showRentedBooks",
        },
      ],
      dialog: false,
      dialogDelete: false,
      isUpdate: false,
      isLoading: false,
      isLoadingTable: false,
      itemId: null,
      options: {},
      search: null,
      params: {},
      preview:null,
      form: this.$inertia.form({
        book_id: null,
        book_rent_id: null,
      }),
    };
  },
  computed: {
    formTitle() {
      return this.isUpdate ? "Edit Buku" : "Buat Buku Baru";
    },
    to_url() {
     let stringg = "showRentedBooks/"
     let id = this.rent_id
      return stringg+id;
    },
  },
  watch: {
    options: function (val) {
      this.params.page = val.page;
      this.params.page_size = val.itemsPerPage;
      if (val.sortBy.length != 0) {
        this.params.sort_by = val.sortBy[0];
        this.params.order_by = val.sortDesc[0] ? "desc" : "asc";
      } else {
        this.params.sort_by = null;
        this.params.order_by = null;
      }
      this.updateData();
    },
    search: function (val) {
      this.params.search = val;
      this.updateData();
    },
  },
  methods: {
    updateData() {
      this.isLoadingTable = true
      this.$inertia.get(to_url, this.params, {
        preserveState: true,
        preverseScroll: true,
        onSuccess: () => {
          this.isLoadingTable = false
        },
      });
    },
    create() {
      this.dialog = true;
      this.form.reset();
      this.form.clearErrors();
    },
    editItem(item) {
      this.form.clearErrors();
      this.form.book_id = item.book_id;
      this.form.book_rent_id = item.book_rent_id;
      this.isUpdate = true;
      this.itemId = item.id;
      this.dialog = true;
    },
    deleteItem(item) {
      this.itemId = item.id;
      this.dialogDelete = true;
    },
    destroy() {
      this.form.delete(route("book.destroy", this.itemId), {
        preverseScroll: true,
        onSuccess: () => {
          this.dialogDelete = false;
          this.itemId = null;
        },
      });
    },
    submit() {
      if (this.isUpdate) {
        this.form.put(route("book.update", this.itemId), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.isUpdate = false;
            this.itemId = null;
            this.form.reset();
          },
        });
      } else {
        this.form.post(route("book.store"), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.form.reset();
          },
        });
      }
    },



  },
};
</script>
