<template>
  <admin-layout>
    <v-banner class="mb-4">
      <div class="d-flex flex-wrap justify-space-between">
        <h5 class="text-h5 font-weight-bold">Daftar Anggota Perpustakaan</h5>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0"></v-breadcrumbs>
      </div>
    </v-banner>

    <div class="d-flex flex-wrap align-center">
      <v-text-field
        v-model="search"
        prepend-inner-icon="mdi-magnify"
        label="Cari Anggota"
        single-line
        dense
        clearable
        hide-details
        class="mb-4"
        solo
        style="max-width: 300px"
      />
      <v-spacer />
      <v-btn class="mb-4" color="primary" @click="create">
        <v-icon dark left> mdi-plus </v-icon> Masukkan Data Anggota Baru
      </v-btn>
    </div>
    <v-data-table
      :items="items.data"
      :headers="headers"
      :options.sync="options"
      :server-items-length="items.total"
      :loading="isLoadingTable"
      class="elevation-1"
    >

      <template #[`item.role`]="{ item }">
      <v-btn v-if="item.role === '1' " color="blue" block >
      <v-icon > mdi-account-tie </v-icon>
      Admin
      </v-btn>

      <v-btn v-else-if="item.role === '0' " outlined color="green darken-2" block >
      <v-icon > mdi-account-lock-outline </v-icon>
      Mahasiswa
      </v-btn>

      </template>

      <template #[`item.activated`]="{ item }">
      <v-btn v-if="item.activated === 'Aktif' " outlined color="blue" block >
      <v-icon > mdi-check </v-icon>
      Aktif
      </v-btn>

      <v-btn v-else-if="item.activated === 'Belum' " color="red" block >
      <v-icon > mdi-stop </v-icon>
      Belum
      </v-btn>

      </template>

      <template #[`item.index`]="{ index }">
        {{ (options.page - 1) * options.itemsPerPage + index + 1 }}
      </template>
      <template #[`item.action`]="{ item }">
        <v-btn x-small color="yellow" @click="editItem(item)">
          <v-icon small> mdi-pencil </v-icon>
        </v-btn>
        <v-btn x-small color="red" dark @click="deleteItem(item)">
          <v-icon small> mdi-delete </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px" scrollable>
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6">{{
          formTitle
        }}</v-toolbar>
        <v-card-text class="pt-4">
          <v-text-field
            v-model="form.name"
            label="Nama Anggota"
            :error-messages="form.errors.name"
            type="text"
            outlined
            dense
          />
          <v-text-field
            v-model="form.member_id"
            label="ID Anggota"
            :error-messages="form.errors.member_id"
            outlined
            dense
          />
          <v-text-field
            v-model="form.email"
            label="Email Anggota"
            :error-messages="form.errors.email"
            outlined
            dense
          />
          <v-text-field
            v-model="form.address"
            label="Alamat Anggota"
            :error-messages="form.errors.address"
            outlined
            dense
          />
          <v-text-field
            v-model="form.phone"
            label="No. Telepon anggota"
            :error-messages="form.errors.phone"
            outlined
            dense
          />
          <v-text-field
            v-model="form.role"
            label="Tipe Akun"
            :error-messages="form.errors.role"
            outlined
            dense
          />

        <v-select outlined v-model="form.activated" :items="activationChoice" label="Status Aktivasi" ></v-select>


          <div class="d-flex"></div>
        </v-card-text>
        <v-card-actions>
          <v-btn :disabled="form.processing" text color="error" @click="clearPrompt()">Tidak jadi</v-btn>
          <v-spacer />
          <v-btn :loading="form.processing" color="primary" @click="submit"
            >Simpan</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Hapus Data Anggota</v-toolbar
        >
        <v-card-text class="text-h6"
          >Kamu yakin ingin menghapus data anggota ini?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogDelete = false">Tidak jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="destroy">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogActivate" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Aktivasi Anggota</v-toolbar
        >
        <v-card-text class="text-h6"
          >Kamu yakin ingin mengaktifkan keanggotaan user ini?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogActivate = false">Tidak jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="activateUser">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


  </admin-layout>
</template>

<script>
import AdminLayout from "../../layouts/AdminLayout.vue";
export default {
  props: ["items"],
  components: { AdminLayout },
  data() {
    return {
    activationChoice: ['Belum', 'Aktif'],
      headers: [
        { text: "No", value: "index", sortable: false },
        { text: "Nama", value: "name" },
        { text: "ID Mahasiswa", value: "member_id" },
        { text: "Email", value: "email" },
        { text: "Alamat", value: "address" },
        { text: "No. Telepon", value: "phone" },
        { text: "Tipe Akun", value: "role" },
        { text: "Aktivasi", value: "activated" },
        { text: "Aksi", value: "action", sortable: false },
      ],
      breadcrumbs: [
        {
          text: "App",
          disabled: false,
          href: "/home",
        },
        {
          text: "User",
          disabled: true,
          href: "/user",
        },
      ],
      dialog: false,
      dialogDelete: false,
      dialogActivate:false,
      isUpdate: false,
      isLoading: false,
      isLoadingTable: false,
      itemId: null,
      options: {},
      search: null,
      params: {},
      form: this.$inertia.form({
        name: null,
        member_id: null,
        email: null,
        address: null,
        phone:null,
        role:null,
        activated:null,
      }),
    };
  },
  computed: {
    formTitle() {
      return this.isUpdate ? "Edit Anggota" : "Buat Anggota Baru";
    },
  },
  watch: {
    options: function (val) {
      this.params.page = val.page;
      this.params.page_size = val.itemsPerPage;
      if (val.sortBy.length != 0) {
        this.params.sort_by = val.sortBy[0];
        this.params.order_by = val.sortDesc[0] ? "desc" : "asc";
      } else {
        this.params.sort_by = null;
        this.params.order_by = null;
      }
      this.updateData();
    },
    search: function (val) {
      this.params.search = val;
      this.updateData();
    },
  },
  methods: {
    clearPrompt() {
  this.dialog = false;
  this.isUpdate = false;
  },

    activate(item) {
    this.itemId = item.id;
    this.dialogActivate = true;
    },

    activateUser() {
      this.form.put(route("user.activate", this.itemId), {
        preverseScroll: true,
        onSuccess: () => {
          this.dialogActivate = false;
          this.itemId = null;
        }, 
      });

       this.dialogActivate = false;

    },

    updateData() {
      this.isLoadingTable = true
      this.$inertia.get("/user", this.params, {
        preserveState: true,
        preverseScroll: true,
        onSuccess: () => {
          this.isLoadingTable = false
        },
      });
    },
    create() {
      this.dialog = true;
      this.form.reset();
      this.form.clearErrors();
    },
    editItem(item) {
      this.form.clearErrors();
      this.form.name = item.name;
      this.form.member_id = item.member_id;
      this.form.email = item.email;
      this.form.address = item.address;
      this.form.phone = item.phone;
      this.form.role = item.role;
      this.form.activated = item.activated;
      this.isUpdate = true;
      this.itemId = item.id;
      this.dialog = true;
    },
    deleteItem(item) {
      this.itemId = item.id;
      this.dialogDelete = true;
    },
    destroy() {
      this.form.delete(route("user.destroy", this.itemId), {
        preverseScroll: true,
        onSuccess: () => {
          this.dialogDelete = false;
          this.itemId = null;
        },
      });
    },
    submit() {
      if (this.isUpdate) {
        this.form.put(route("user.update", this.itemId), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.isUpdate = false;
            this.itemId = null;
            this.form.reset();
          },
        });
      } else {
        this.form.post(route("user.store"), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.form.reset();
          },
        });
      }
    },
  },
};
</script>
