<template>
  <admin-layout>
    <v-banner class="mb-4">
      <div class="d-flex flex-wrap justify-space-between">
        <h5 class="text-h5 font-weight-bold">Dashboard</h5>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0"></v-breadcrumbs>
      </div>
    </v-banner>

    <v-card  elevation="4" class="mx-auto ml-5  mt-4 pa-4" outlined>
      <div v-if="user.role == '1' " class="text-overline ">
      Selamat datang, {{ user.name }}! Anda masuk sebagai admin. 
      </div>

      <div v-if="user.role == '0' " class="text-overline ">
      Selamat datang, {{ user.name }}! Anda masuk sebagai mahasiswa. 
      </div>

    </v-card>

    <v-row no-gutters class="">
    <v-col>
    <v-card  elevation="4" class="mx-auto ml-5  mt-4" outlined>
    <v-list-item three-line>
      <v-list-item-content>
      <div class="text-overline mb-4">
      JUMLAH BUKU TERDAFTAR 
      </div>
      <v-list-item-title class="text-h5 mb-1">
      {{ bookCount }}
      </v-list-item-title>
      <v-list-item-subtitle>Buku terdaftar di perpustakaan.</v-list-item-subtitle>
      </v-list-item-content>
      </v-list-item>
      <v-card-actions>
      <v-btn @click="goToPage('book.index')"  color="primary" >
      <v-icon > mdi-bookshelf </v-icon>
      Cek Daftar Buku</v-btn></v-card-actions>
      </v-card>
    </v-col>

    <v-col>
    <v-card elevation="4" class="mx-auto ml-5  mt-4 " outlined>
    <v-list-item three-line>
      <v-list-item-content>
      <div class="text-overline mb-4">
      JUMLAH DATA SUBJEK BUKU 
      </div>
      <v-list-item-title class="text-h5 mb-1">
      {{ bookSubjectCount }}
      </v-list-item-title>
      <v-list-item-subtitle>Subjek di perpustakaan.</v-list-item-subtitle>
      </v-list-item-content>
      </v-list-item>
      <v-card-actions>
      <v-btn @click="goToPage('book-subject.index')" color="pink lighten-2" >
      <v-icon > mdi-book-plus-multiple </v-icon>
      Cek Daftar Subjek Buku</v-btn></v-card-actions>
      </v-card>
    </v-col>
    
    <v-col>
    <v-card  elevation="4" class="mx-auto ml-5  mt-4" outlined>
    <v-list-item three-line>
      <v-list-item-content>
      <div class="text-overline mb-4">
      JUMLAH USER TERDAFTAR
      </div>
      <v-list-item-title class="text-h5 mb-1">
      {{ studentCount }}
      </v-list-item-title>
      <v-list-item-subtitle>Mahasiswa terdaftar.</v-list-item-subtitle>
      </v-list-item-content>
      </v-list-item>
      <v-card-actions>
      <v-btn @click="goToPage('user.index')" color="teal lighten-2" >
      <v-icon > mdi-account-group </v-icon>
      Cek Daftar Anggota</v-btn></v-card-actions>
      </v-card>
    </v-col>

    <v-col class="">
    <v-card  elevation="4" class="mx-auto ml-5  mt-4" outlined>
    <v-list-item three-line>
      <v-list-item-content>
      <div class="text-overline mb-4">
      BELUM DIAKTIVASI
      </div>
      <v-list-item-title class="text-h5 mb-1">
      {{ inactiveStudentCount }}
      </v-list-item-title>
      <v-list-item-subtitle>Mahasiswa untuk di-aktivasi.</v-list-item-subtitle>
      </v-list-item-content>
      </v-list-item>
      <v-card-actions>
      <v-btn @click="goToPage('user.index')" color="lime lighten-2" >
      <v-icon > mdi-account-multiple-remove </v-icon>
      Cek Daftar Anggota</v-btn></v-card-actions>
      </v-card>
    </v-col>
    </v-row>

    <v-row no-gutters >
    <v-col>
    <v-card elevation="4" class="mx-auto ml-5  mt-4" outlined>
    <v-list-item three-line>
      <v-list-item-content>
      <div class="text-overline mb-4">
      JUMLAH PEMINJAMAN BUKU AKTIF
      </div>
      <v-list-item-title class="text-h5 mb-1">
      {{ activeBookRentCount }}
      </v-list-item-title>
      <v-list-item-subtitle>Jumlah peminjaman buku yang sedang berlangsung .</v-list-item-subtitle>
      </v-list-item-content>
      </v-list-item>
      <v-card-actions>
      <v-btn @click="goToPage('book-rent.index')" x-large color="green lighten-2" >
      <v-icon > mdi-folder-star-multiple </v-icon>
      Cek Riwayat Peminjaman</v-btn></v-card-actions>
      </v-card>
    </v-col>

    <v-col>
    <v-card elevation="4" class="mx-auto ml-5  mt-4" outlined>
    <v-list-item three-line>
      <v-list-item-content>
      <div class="text-overline mb-4">
      JUMLAH PEMINJAMAN BUKU UNTUK DIKONFIRMASI
      </div>
      <v-list-item-title class="text-h5 mb-1">
      {{ requestedBookRentCount }}
      </v-list-item-title>
      <v-list-item-subtitle>Jumlah peminjaman buku yang perlu di-review dan disetujui.</v-list-item-subtitle>
      </v-list-item-content>
      </v-list-item>
      <v-card-actions>
      <v-btn @click="goToPage('book-rent.index')" x-large color="red lighten-2" >
      <v-icon > mdi-star-minus </v-icon>
      Cek Riwayat Peminjaman</v-btn></v-card-actions>
      </v-card>
    </v-col>


    </v-row>

  </admin-layout>
</template>

<script>
import AdminLayout from "../layouts/AdminLayout.vue";
export default {
  props: ["bookCount","b","bookSubjectCount","studentCount","inactiveStudentCount","activeBookRentCount","requestedBookRentCount"],
  components: { AdminLayout },
  methods: {
    goToPage(page) {this.$inertia.visit(this.route(page));},
  },
  computed: {
  user() {
    return this.$page.props.auth.user;
    },
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: "App",
          disabled: false,
          href: "/home",
        },
        {
          text: "Home",
          disabled: true,
          href: "/home",
        },
      ],
    }
  }
};
</script>
