<template>
  <guest-layout class="hero">
    <v-app-bar dense :color="bg" elevation=24  :clipped-left="false" fixed dark app>
      <v-toolbar-title  v-text="projectName" />
      <v-spacer />
      <Link v-if="$page.props.auth.user && $page.props.auth.user.role=='1'" :href="route('home')">
        <v-btn text>Dashboard</v-btn>
      </Link>

        <v-btn text v-else-if="$page.props.auth.user && $page.props.auth.user.role=='0'" @click="logout" >Log Out</v-btn>


      <div v-else>
        <Link :href="route('login')">
          <v-btn text>Login</v-btn>
        </Link>
      </div>

      <div v-if="$page.props.auth.user && $page.props.auth.user.role=='1'" ></div>
      <div v-else-if="$page.props.auth.user && $page.props.auth.user.role=='0'" ></div>
      <div v-else >
        <Link :href="route('register')">
          <v-btn text>Daftar</v-btn>
        </Link>
      </div>


    </v-app-bar>
    <v-main>

      <v-container>
        <v-card class="elevation-24">
          <v-card-title class="font-weight-bold text-h6" >Katalog Buku Kepustakaan Universitas XYZ
          </v-card-title>

      <v-text-field
        v-model="search"
        prepend-inner-icon="mdi-magnify"
        label="Cari Judul"
        single-line
        dense
        clearable
        hide-details
        class="ml-4 mb-4"
        solo
        style="max-width: 300px"
      />
      <v-spacer />
          <v-checkbox class="mr-4 ml-4 text-right" v-model="showImages" :label="`Tampilkan Gambar`" ></v-checkbox>


          <v-data-table :items="items.data" :headers="headers" :options.sync="options" :server-items-length="items.total" :loading="isLoadingTable" class="elevation-24" >


      <template #[`item.index`]="{ index }">
        {{ (options.page - 1) * options.itemsPerPage + index + 1 }}
      </template>

      <template #[`item.availability`]="{ item }">
      <v-btn v-if="item.availability === 'Tersedia' " color="blue" block >
      <v-icon > mdi-check </v-icon>
      Tersedia
      </v-btn>

      <v-btn v-else-if="item.availability === 'Dipinjam' " outlined color="red" block >
      <v-icon > mdi-lock </v-icon>
      Dipinjam
      </v-btn>
      </template>

      <template #[`item.subject`]="{ item }">
      <v-chip class="ma-2" color="primary">
      {{ item.subject.name }}
      </v-chip>
      </template>

      <template #[`item.floor`]="{ item }">
      <v-chip class="ma-2" color="green">
      {{ item.floor.floor }}
      </v-chip>
      </template>

      <template #[`item.image`]="{ item }">
      <v-img v-if="showImages" max-height="250" max-width="150"  v-bind:src=" 'images/' + item.image_url" ></v-img>
      </template>


      <template v-if="user && user.activated === 'Aktif' && rent" #[`item.action`]="{ item }">
        <v-btn elevation=24 color="green" @click="addItem(item)">
          <v-icon small> mdi-pencil </v-icon>Tambahkan Buku
        </v-btn>
      </template>


      <template v-else-if="user && user.activated === 'Aktif' " #[`item.action`]="{ item }">
          <v-icon small> mdi-lock </v-icon>Silahkan Buat Peminjaman
      </template>

      <template v-else-if="user" #[`item.action`]="{ item }">
          <v-icon small> mdi-lock </v-icon>Tunggu hingga admin mengaktifkan akun anda
      </template>

      <template v-else #[`item.action`]="{ item }">
          <v-icon small> mdi-lock </v-icon>Login untuk meminjam.
      </template>

    </v-data-table>

        </v-card>
      </v-container>



    <v-container v-if="loggedInUserId == null">
    </v-container>

    <v-container v-else>

    <v-container color="white" v-if="bookRentItems" >

    <v-card class="pa-5" outlined>
    <span class="font-weight-bold text-h6">
      Daftar Peminjaman Buku Anda
    </span>

    <span class="mt-4"><br/>
    Berikut ini adalah daftar buku yang ingin anda ajukan untuk dipinjam. Silahkan tambahkan buku dari tabel Katalog Buku. Apabila sudah selesai menambahkan buku yang ingin dipinjam, silahkan tekan tombol Konfirmasi Peminjaman Buku supaya admin perpustakaan dapat me-review dan mengkonfirmasi peminjaman buku tersebut.
    </span>
    </v-card>

    <v-data-table :items="bookRentItems.data" :headers="bookRentItemHeaders" :options.sync="options" :server-items-length="bookRentItems.total" :loading="isLoadingTable" class="elevation-1" >

      <template #[`item.index`]="{ index }">
        {{ (options.page - 1) * options.itemsPerPage + index + 1 }}
      </template>

      <template #[`item.book_name`]="{ item }">
      {{item.book.title}}
      </template>

      <template #[`item.book_author`]="{ item }">
      {{item.book.author}}
      </template>

      <template #[`item.book_description`]="{ item }">
      {{item.book.description}}
      </template>

      <template #[`item.image`]="{ item }">
      <v-img v-if="showImages" max-height="250" max-width="150"  v-bind:src=" 'images/' + item.book.image_url" ></v-img>
      </template>

      <template #[`item.action`]="{ item }">
        <v-btn elevation=24 color="red" @click="removeItem(item)" >
          <v-icon small> mdi-cross </v-icon>Hapus
        </v-btn>
      </template>

    </v-data-table>
    </v-container>


    <v-container v-if="alreadyRequested" >
    <v-btn class="mt-4" elevation=20 color="blue" @click="createNewBookRent " disabled>
      Buat Peminjaman Buku
    </v-btn>
    <v-btn class="mt-4" elevation=20 color="primary" @click="requestNewBookRent " >
      Konfirmasi Peminjaman
    </v-btn>
    <v-btn class="mt-4" elevation=20 color="red" @click="deleteNewBookRent " >
      Batalkan Pengajuan Peminjaman
    </v-btn>
    
    </v-container>
    <v-container v-else-if="user.activated=='Aktif' " >
    <v-btn elevation=20 color="blue" @click="createNewBookRent ">
      Buat Peminjaman Buku
    </v-btn>
    </v-container>

    </v-container>



    </v-main>

        <v-dialog v-model="dialogCreate" max-width="500">
      <v-card>
        <v-toolbar  dark color="primary" class="text-h6"
          >Buat daftar peminjaman buku</v-toolbar
        >
        <v-card-text class="text-h6 mt-4">

          <v-text-field
            v-model="form.name"
            label="Nama Peminjam"
            :error-messages="form.errors.name"
            type="text"
            outlined
            dense
            disabled
          />

          <v-text-field
            v-model="form.user_id"
            label="User Id Peminjam"
            :error-messages="form.errors.user_id"
            type="text"
            outlined
            dense
            disabled
          />

          <p class="mb-2">
          Masukkan tanggal mulai meminjam.
          </p>
          <v-date-picker v-model="form.rent_since" full-width :error-messages="form.errors.rent_since" ></v-date-picker>

          <p class="mb-2">
          Masukkan tanggal selesai meminjam.
          </p>
          <v-date-picker v-model="form.rent_until" full-width ></v-date-picker>

          <v-select v-model="form.approved" :items="approvalChoices"  label="Status Peminjaman"  :error-messages="form.errors.approved" disabled></v-select>


          </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogCreate = false">Tidak Jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="submit">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogRequest" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Konfirmasi Pengajuan Peminjaman Buku</v-toolbar
        >
        <v-card-text class="text-h6 mt-4"
          >Kamu yakin ingin mengkonfirmasi pengajuan peminjaman buku-buku ini?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogRequest = false">Tidak Jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="confirmRent">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Hapus Pengajuan Peminjaman Buku</v-toolbar
        >
        <v-card-text class="text-h6 mt-4"
          >Kamu yakin ingin membatalkan pengajuan peminjaman buku-buku ini?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogDelete = false">Tidak Jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="destroyRent">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogAddBookItem" max-width="500">
      <v-card v-if="bookAvailability == 'Tersedia' " >
        <v-toolbar dense dark color="primary" class="text-h6"
          >Tambahkan Buku Ke Pengajuan</v-toolbar
        >
        <v-card-text class="text-h6 mt-4"
          >Kamu yakin ingin menambahkan buku ini ke daftar pengajuan?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogAddBookItem = false">Tidak Jadi</v-btn>

          <v-btn :loading="form.processing" text color="primary" @click="addBook">Ya</v-btn>


        </v-card-actions>
      </v-card>

      <v-card v-else >
        <v-toolbar dense dark color="primary" class="text-h6"
          >Tambahkan Buku Ke Pengajuan</v-toolbar
        >
        <v-card-text class="text-h6 mt-4"
          >Maaf, buku sedang dipinjam.</v-card-text
        >

        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogAddBookItem = false">Yasudah</v-btn>


        </v-card-actions>
      </v-card>

    </v-dialog>

    <v-dialog v-model="dialogRemoveBookItem" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Hapus Buku Dari Pengajuan</v-toolbar
        >
        <v-card-text class="text-h6 mt-4"
          >Kamu yakin ingin mengeluarkan buku ini dari daftar pengajuan?</v-card-text
        >

         <v-text-field class="mr-4 ml-4"
            v-model="bookRentItemId"
            label="Id Item Buku"
            :error-messages="form.errors.book_id"
            type="text"
            outlined
            dense
            disabled
          />

        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogRemoveBookItem = false">Tidak Jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="removeBook">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </guest-layout>
</template>

<style scoped>
.hero {
  background-image: url('../../../public/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
</style>

<script>
import ApplicationLogo from '../components/ApplicationLogo.vue'
import GuestLayout from '../layouts/GuestLayout.vue'
export default {
  props: ["items","loggedInUserId","loggedInUserName","alreadyRequested","rent","rentId","bookRentItems"],
  components: { ApplicationLogo, GuestLayout },
  computed: {
    appName() {
      return this.$page.props.appName
    },
    user() {
      return this.$page.props.auth.user;
    },
  },
  mounted() {
      window.onscroll = () => {
      this.changeColor();
    };
  },
  data() {
    return {
    options: {},
    search: null,
    params: {},
    approvalChoices: ['Dibuat','Diajukan','Disetujui','Selesai'],
    dialogCreate: false,
    dialogDelete: false,
    dialogRequest: false,
    dialogAddBookItem:false,
    dialogRemoveBookItem:false,
    bg: 'transparent',
    isLoadingTable: false,
    itemId: this.rent,
    bookRentItemId:null,
    bookAvailability:null,
    showImages: false,
    projectName:"Sistem Informasi Perpustakaan Universitas XYZ",
    form: this.$inertia.form({
        user_id:  this.loggedInUserId,
        name: this.loggedInUserName,
        rent_since: null,
        rent_until: null,
        approved:'Dibuat',
      }),
    bookItemForm: this.$inertia.form({
        book_id:  this.loggedInUserId,
        book_rent_id: this.loggedInUserName,
      }),
      bookRentItemHeaders: [
        { text: "No", value: "index", sortable: false },
        { text: "Judul", value: "book_name" },
        { text: "Penulis", value: "book_author" },
        { text: "Deskripsi", value: "book_description" },
        { text: "Gambar", value: "image", sortable: false },
        { text: "Aksi", value: "action", sortable: false },
      ],
      headers: [
        { text: "No", value: "index", sortable: false },
        { text: "Judul", value: "title" },
        { text: "Penulis", value: "author" },
        { text: "Deskripsi", value: "description" },
        { text: "Ketersediaan", value: "availability" },
        { text: "Subjek", value: "subject", sortable: false },
        { text: "Di Lantai", value: "floor", sortable: false },
        { text: "Gambar", value: "image", sortable: false },
        { text: "Aksi", value: "action", sortable: false },
      ],
      }},

        watch: {
    options: function (val) {
      this.params.page = val.page;
      this.params.page_size = val.itemsPerPage;
      if (val.sortBy.length != 0) {
        this.params.sort_by = val.sortBy[0];
        this.params.order_by = val.sortDesc[0] ? "desc" : "asc";
      } else {
        this.params.sort_by = null;
        this.params.order_by = null;
      }
      this.updateData();
    },
    search: function (val) {
      this.params.search = val;
      this.updateData();
    },
  },


      methods: {
      updateData() {
      this.isLoadingTable = true
      this.$inertia.get("/", this.params, {
        preserveState: true,
        preverseScroll: true,
        onSuccess: () => {
          this.isLoadingTable = false
        },
      });
    },
      createNewBookRent() {
      this.dialogCreate = true;
      this.form.reset();
      this.form.clearErrors();
      },
      deleteNewBookRent() {
      this.dialogDelete = true;
      this.itemId = this.rentId;
      },
      requestNewBookRent() {
      this.dialogRequest = true;
      this.itemId = this.rentId;
      },
      logout() {
      this.$inertia.post("/logout");
      },
      submit() {
      this.form.post(route("storeNew"), {
      preverseScroll: true,
      onSuccess: () => {this.isLoading = false;this.dialogCreate = false;this.form.reset();},      
      })},
      destroyRent() {
      this.form.delete(route("book-rent.destroy", this.itemId ), {
        preverseScroll: true,
        onSuccess: () => {this.dialogDelete = false;this.itemId = null;},
      })},
      confirmRent() {
      this.form.put(route("confirm", this.itemId ), {
        preverseScroll: true,
        onSuccess: () => {this.dialogRequest = false;this.itemId = null;},
      })},
      addItem(item) {
      this.bookAvailability = item.availability;
      this.bookItemForm.clearErrors();
      this.bookItemForm.book_id = item.id;
      this.bookItemForm.book_rent_id = this.rentId;
      this.dialogAddBookItem = true;
      },
      addBook(){
      this.bookItemForm.post(route("storeNewBookItem"), {
      preverseScroll: true,
      onSuccess: () => {this.isLoading = false;this.dialogAddBookItem = false;this.bookItemForm.reset();},  
      })},
      removeItem(item) {
      this.bookItemForm.clearErrors();
      this.bookRentItemId = item.id;
      this.dialogRemoveBookItem = true;
      },
      removeBook(){
      this.bookItemForm.delete(route("destroyBookItem",this.bookRentItemId), {
      preverseScroll: true,
      onSuccess: () => {this.isLoading = false;this.dialogRemoveBookItem = false;this.bookItemForm.reset();},  
      })},
      changeColor() {
      if ( document.body.scrollTop > 100 || document.documentElement.scrollTop > 100 ) {
        this.bg = 'primary'; } 
        else {
        this.bg = 'transparent'; }
      },

      }

}
</script>