<template>
  <admin-layout>
    <v-banner class="mb-4">
      <div class="d-flex flex-wrap justify-space-between">
        <h5 class="text-h5 font-weight-bold">Daftar Peminjaman Buku</h5>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0"></v-breadcrumbs>
      </div>
    </v-banner>

    <div class="d-flex flex-wrap align-center">
      <v-text-field
        v-model="search"
        prepend-inner-icon="mdi-magnify"
        label="Cari Dari Tanggal Mulai Meminjam"
        single-line
        dense
        clearable
        hide-details
        class= "mb-4"
        solo
        style="max-width: 300px"
      />
      <v-spacer />
      <v-btn class="mb-4" color="primary" @click="create">
        <v-icon dark left> mdi-plus </v-icon> Buat Peminjaman Buku Baru
      </v-btn>
    </div>
    <v-data-table
      :items="items.data"
      :headers="headers"
      :options.sync="options"
      :server-items-length="items.total"
      :loading="isLoadingTable"
      class="elevation-1"
    >
      <template #[`item.user_id`]="{ item }">
      {{item.user.name}}
      </template>

      <template #[`item.approved`]="{ item }">
      <v-btn  v-if="item.approved === 'Disetujui' " color="blue accent-4" outlined >
      {{item.approved}}
      </v-btn>
      <v-btn  v-if="item.approved === 'Dibuat' " color="gray accent-4" outlined >
      {{item.approved}}
      </v-btn>
      <v-btn  v-if="item.approved === 'Diajukan' " color="red accent-4" outlined >
      {{item.approved}}
      </v-btn>
      <v-btn  v-if="item.approved === 'Selesai' " color="green darken-2" outlined >
      {{item.approved}}
      </v-btn>
      </template>


      <template #[`item.index`]="{ index }">
        {{ (options.page - 1) * options.itemsPerPage + index + 1 }}
      </template>
      <template #[`item.action`]="{ item }">
        <v-btn class="mt-2 " :href="'showRentedBooks/' + item.id" x-small color="primary" dark >
          <v-icon small> mdi-check </v-icon>Lihat Daftar Buku
        </v-btn>
        <v-btn class="mt-2" x-small color="yellow" @click="editItem(item)">
          <v-icon small> mdi-pencil </v-icon>
        </v-btn>
        <v-btn class="mt-2" x-small color="red" dark @click="deleteItem(item)">
          <v-icon small> mdi-delete </v-icon>
        </v-btn>
        <v-btn class="mt-2" x-small color="green" dark @click="confirmItem(item)">
          <v-icon small> mdi-check </v-icon>Setujui
        </v-btn>
        <v-btn class="mt-2 mb-2" x-small color="purple" dark @click="confirmReturn(item)">
          <v-icon small> mdi-bookmark-check </v-icon>Konfirmasi Pengembalian
        </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px" scrollable>
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6">{{
          formTitle
        }}</v-toolbar>
        <v-card-text class="pt-4">
          <v-text-field
            v-model="form.user_id"
            label="User Id"
            :error-messages="form.errors.user_id"
            type="text"
            outlined
            dense
          />
          <p class="mb-2">
          Masukkan tanggal mulai meminjam.
          </p>
          <v-date-picker v-model="form.rent_since" full-width :error-messages="form.errors.rent_since" ></v-date-picker>

          <p class="mb-2">
          Masukkan tanggal selesai meminjam.
          </p>
          <v-date-picker v-model="form.rent_until" full-width ></v-date-picker>

          <v-select v-model="form.approved" :items="approvalChoices"  label="Status Peminjaman"  :error-messages="form.errors.approved" ></v-select>

          <div class="d-flex"></div>
        </v-card-text>
        <v-card-actions>
          <v-btn :disabled="form.processing" text color="error" @click="clearPrompt()">Tidak Jadi</v-btn>
          <v-spacer />
          <v-btn :loading="form.processing" color="primary" @click="submit"
            >Simpan</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Hapus Peminjaman Buku</v-toolbar
        >
        <v-card-text class="text-h6"
          >Kamu yakin ingin menghapus peminjaman buku ini? ?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogDelete = false">Tidak jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="destroy">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogConfirm" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Konfirmasi Peminjaman Buku</v-toolbar
        >
        <v-card-text class="text-h6"
          >Kamu yakin ingin mengkonfirmasi peminjaman buku ini? ?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogConfirm = false">Tidak jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="confirmRent">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogReturn" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Konfirmasi Pengembalian Buku</v-toolbar
        >
        <v-card-text class="text-h6"
          >Kamu yakin ingin mengkonfirmasi pengembalian buku ini? ?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogReturn = false">Tidak jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="confirmFinishedRent">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


  </admin-layout>
</template>

<script>
import AdminLayout from "../../layouts/AdminLayout.vue";
export default {
  props: ["items"],
  components: { AdminLayout },
  data() {
    return {
     approvalChoices: ['Dibuat','Diajukan','Disetujui','Selesai'],
      headers: [
        { text: "No", value: "index", sortable: false },
        { text: "Nama Peminjam", value: "user_id" },
        { text: "Dipinjam Sejak Tanggal", value: "rent_since" },
        { text: "Dipinjam Hingga Tanggal", value: "rent_until" },
        { text: "Status", value: "approved" },
        { text: "Aksi", value: "action", sortable: false },
      ],
      breadcrumbs: [
        {
          text: "App",
          disabled: false,
          href: "/home",
        },
        {
          text: "Book Rent",
          disabled: true,
          href: "/book-rent",
        },
      ],
      dialog: false,
      dialogDelete: false,
      dialogConfirm: false,
      dialogReturn: false,
      isUpdate: false,
      isLoading: false,
      isLoadingTable: false,
      itemId: null,
      options: {},
      search: null,
      params: {},
      form: this.$inertia.form({
        user_id: null,
        rent_since: null,
        rent_until: null,
        approved:null,
      }),
    };
  },
  computed: {
    formTitle() {
      return this.isUpdate ? "Edit Peminjaman Buku" : "Buat Peminjaman Buku Baru";
    },
  },
  watch: {
    options: function (val) {
      this.params.page = val.page;
      this.params.page_size = val.itemsPerPage;
      if (val.sortBy.length != 0) {
        this.params.sort_by = val.sortBy[0];
        this.params.order_by = val.sortDesc[0] ? "desc" : "asc";
      } else {
        this.params.sort_by = null;
        this.params.order_by = null;
      }
      this.updateData();
    },
    search: function (val) {
      this.params.search = val;
      this.updateData();
    },
  },
  methods: {
  clearPrompt() {
  this.dialog = false;
  this.isUpdate = false;
  },
    updateData() {
      this.isLoadingTable = true
      this.$inertia.get("/book-rent", this.params, {
        preserveState: true,
        preverseScroll: true,
        onSuccess: () => {
          this.isLoadingTable = false
        },
      });
    },
    create() {
      this.dialog = true;
      this.form.reset();
      this.form.clearErrors();
    },
    editItem(item) {
      this.form.clearErrors();
      this.form.user_id = item.user_id;
      this.form.rent_since = item.rent_since;
      this.form.rent_until = item.rent_until;
      this.form.approved = item.approved;
      this.isUpdate = true;
      this.itemId = item.id;
      this.dialog = true;
    },
    deleteItem(item) {
      this.itemId = item.id;
      this.dialogDelete = true;
    },
    confirmItem(item) {
      this.itemId = item.id;
      this.dialogConfirm = true;
    },
    confirmReturn(item) {
      this.itemId = item.id;
      this.dialogReturn = true;
    },
    destroy() {
      this.form.delete(route("book-rent.destroy", this.itemId), {
        preverseScroll: true,
        onSuccess: () => {
          this.dialogDelete = false;
          this.itemId = null;
        },
      });
    },
    confirmRent() {
      this.form.put(route("book-rent.confirmRent", this.itemId), {
        preverseScroll: true,
        onSuccess: () => {
          this.dialogConfirm = false;
          this.itemId = null;
        },
      });
    },
    confirmFinishedRent() {
      this.form.put(route("book-rent.confirmFinishedRent", this.itemId), {
        preverseScroll: true,
        onSuccess: () => {
          this.dialogReturn = false;
          this.itemId = null;
        },
      });
    },
    submit() {
      if (this.isUpdate) {
        this.form.put(route("book-rent.update", this.itemId), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.isUpdate = false;
            this.itemId = null;
            this.form.reset();
          },
        });
      } else {
        this.form.post(route("book-rent.store"), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.form.reset();
          },
        });
      }
    },
  },
};
</script>
