<template>
  <admin-layout>
    <v-banner class="mb-4">
      <div class="d-flex flex-wrap justify-space-between">
        <h5 class="text-h5 font-weight-bold">Daftar Buku</h5>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0"></v-breadcrumbs>
      </div>
    </v-banner>

    <div class="d-flex flex-wrap align-center">
      <v-text-field
        v-model="search"
        prepend-inner-icon="mdi-magnify"
        label="Cari Judul"
        single-line
        dense
        clearable
        hide-details
        class="mb-4"
        solo
        style="max-width: 300px"
      />
      <v-spacer />

      <v-checkbox class="mr-4" v-model="showImages" :label="`Tampilkan Gambar`" ></v-checkbox>

      <v-btn class="mb-4" color="primary" @click="create">
        <v-icon dark left> mdi-plus </v-icon> Buat Buku Baru
      </v-btn>

    </div>
    <v-data-table
      :items="items.data"
      :headers="headers"
      :options.sync="options"
      :server-items-length="items.total"
      :loading="isLoadingTable"
      class="elevation-1"
    >

      <template #[`item.availability`]="{ item }">
      <v-btn v-if="item.availability === 'Tersedia' " color="blue" block >
      <v-icon > mdi-check </v-icon>
      Tersedia
      </v-btn>

      <v-btn v-else-if="item.availability === 'Dipinjam' " outlined color="red" block >
      <v-icon > mdi-lock </v-icon>
      Dipinjam
      </v-btn>
      </template>

      <template #[`item.subject`]="{ item }">
      <v-chip class="ma-2" color="info">
      {{ item.subject.name }}
      </v-chip>
      </template>

      <template #[`item.floor`]="{ item }">
      <v-chip class="ma-2" color="green">
      {{ item.floor.floor }}
      </v-chip>
      </template>

      <template #[`item.image`]="{ item }">
      <v-img v-if="showImages" max-height="250" max-width="150"  v-bind:src=" 'images/' + item.image_url" ></v-img>
      </template>

      <template #[`item.index`]="{ index }">
        {{ (options.page - 1) * options.itemsPerPage + index + 1 }}
      </template>
      <template #[`item.action`]="{ item }">
        <v-btn x-small color="yellow" @click="editItem(item)">
          <v-icon small> mdi-pencil </v-icon>Update
        </v-btn>
        <v-btn x-small color="red" dark @click="deleteItem(item)">
          <v-icon small> mdi-delete </v-icon>Hapus
        </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px" scrollable>
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6">{{
          formTitle
        }}</v-toolbar>
        <v-card-text class="pt-4">
          <v-text-field
            v-model="form.title"
            label="Judul Buku"
            :error-messages="form.errors.title"
            type="text"
            outlined
            dense
          />
          <v-text-field
            v-model="form.author"
            label="Penulis Buku"
            :error-messages="form.errors.author"
            outlined
            dense
          />
          <v-text-field
            v-model="form.description"
            label="Deskripsi Buku"
            :error-messages="form.errors.description"
            outlined
            dense
          />
          <v-text-field
            v-model="form.availability"
            label="Ketersediaan Buku"
            :error-messages="form.errors.availability"
            :value="Tersedia"
            outlined
            dense
            disabled
          />

        <v-select v-model="form.subject_id" :items="bookSubjectListData" item-text="name" item-value="id" label="Subjek Buku"  :error-messages="form.errors.subject_id" outlined ></v-select>

        <v-select v-model="form.floor_id" :items="bookStorageFloorListData" item-text="name" item-value="id" label="Lantai Penyimpanan"  :error-messages="form.errors.subject_id"  outlined ></v-select>


          <span v-if="isUpdate==false" >Upload Gambar Buku :</span><br/>
          <input v-if="isUpdate==false" type="file" class="hidden" :error-messages="form.errors.photo"
          ref="photo"
          @change="updatePreview">
          <div v-show="preview">
          <span class="block w-20 h-20 rounded-full"
          :style="'width:10rem; height: 10rem; display: block; background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + preview + '\');'">
          </span>
          </div>


          <div class="d-flex"></div>
        </v-card-text>
        <v-card-actions>
          <v-btn :disabled="form.processing" text color="error" @click="clearPrompt()"  >Cancel</v-btn>
          <v-spacer />
          <v-btn :loading="form.processing" color="primary" @click="submit"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500">
      <v-card>
        <v-toolbar dense dark color="primary" class="text-h6"
          >Hapus Buku</v-toolbar
        >
        <v-card-text class="text-h6"
          >Kamu yakin ingin menghapus buku ini? ?</v-card-text
        >
        <v-card-actions>
          <v-spacer />
          <v-btn :disabled="form.processing" text color="error" @click="dialogDelete = false">Tidak Jadi</v-btn>
          <v-btn :loading="form.processing" text color="primary" @click="destroy">Ya</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </admin-layout>
</template>

<script>
import AdminLayout from "../../layouts/AdminLayout.vue";
export default {
  props: ["items","bookSubjectList","bookStorageFloorList"],
  components: { AdminLayout },
  data() {
    return {
      headers: [
        { text: "No", value: "index", sortable: false },
        { text: "Judul", value: "title" },
        { text: "Penulis", value: "author" },
        { text: "Deskripsi", value: "description" },
        { text: "Ketersediaan", value: "availability" },
        { text: "Subjek", value: "subject", sortable: true },
        { text: "Di Lantai", value: "floor", sortable: true },
        { text: "Gambar", value: "image", sortable: false },
        { text: "Aksi", value: "action", sortable: false },
      ],
      breadcrumbs: [
        {
          text: "App",
          disabled: false,
          href: "/home",
        },
        {
          text: "Book",
          disabled: true,
          href: "/book",
        },
      ],
      dialog: false,
      dialogDelete: false,
      isUpdate: false,
      isLoading: false,
      isLoadingTable: false,
      itemId: null,
      options: {},
      search: null,
      params: {},
      preview:null,
      showImages: true,
      form: this.$inertia.form({
        title: null,
        author: null,
        description: null,
        availability:"Tersedia",
        subject_id: null,
        floor_id:null,
        image_url:null,
        photo:null,
      }),
    };
  },
  computed: {
    formTitle() {
      return this.isUpdate ? "Edit Buku" : "Buat Buku Baru";
    },
    bookSubjectListNames() {
       return this.bookSubjectList.map(item => { return item.name
    })},
    bookSubjectListIds() {
       return this.bookSubjectList.map(item => { return item.id
    })},
    bookSubjectListData() {
       let myArray = [];
       for(let i=0; i<this.bookSubjectListIds.length;i++) {

       let itemArray=[];
       itemArray['id'] = this.bookSubjectListIds[i];
       itemArray['name'] = this.bookSubjectListNames[i];

       myArray.push(itemArray);
       }
       return myArray;
    },
    bookStorageFloorNames() {
       return this.bookStorageFloorList.map(item => { return item.floor
    })},
    bookStorageFloorIds() {
       return this.bookStorageFloorList.map(item => { return item.id
    })},
    bookStorageFloorListData() {
       let myArray = [];
       for(let i=0; i<this.bookStorageFloorIds.length;i++) {

       let itemArray=[];
       itemArray['id'] = this.bookStorageFloorIds[i];
       itemArray['name'] = this.bookStorageFloorNames[i];

       myArray.push(itemArray);
       }
       return myArray;
    },
  },
  watch: {
    options: function (val) {
      this.params.page = val.page;
      this.params.page_size = val.itemsPerPage;
      if (val.sortBy.length != 0) {
        this.params.sort_by = val.sortBy[0];
        this.params.order_by = val.sortDesc[0] ? "desc" : "asc";
      } else {
        this.params.sort_by = null;
        this.params.order_by = null;
      }
      this.updateData();
    },
    search: function (val) {
      this.params.search = val;
      this.updateData();
    },
  },
  methods: {
  clearPrompt() {
  this.dialog = false;
  this.isUpdate = false;
  },
    updateData() {
      this.isLoadingTable = true
      this.$inertia.get("/book", this.params, {
        preserveState: true,
        preverseScroll: true,
        onSuccess: () => {
          this.isLoadingTable = false
        },
      });
    },
    create() {
      this.dialog = true;
      this.form.reset();
      this.form.clearErrors();
    },
    editItem(item) {
      this.form.clearErrors();
      this.form.title = item.title;
      this.form.author = item.author;
      this.form.description = item.description;
      this.form.availability = item.availability;
      this.form.subject_id = item.subject_id;
      this.form.floor_id = item.floor_id;
      this.form.image_url = item.image_url;
      this.form.photo = null;
      this.isUpdate = true;
      this.itemId = item.id;
      this.dialog = true;
    },
    deleteItem(item) {
      this.itemId = item.id;
      this.dialogDelete = true;
    },
    destroy() {
      this.form.delete(route("book.destroy", this.itemId), {
        preverseScroll: true,
        onSuccess: () => {
          this.dialogDelete = false;
          this.itemId = null;
        },
      });
    },
    submit() {
      if (this.isUpdate) {
        this.form.put(route("book.update", this.itemId), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.isUpdate = false;
            this.itemId = null;
            this.form.reset();
          },
        });
      } else {
        this.form.photo = this.$refs.photo.files[0]
        this.form.post(route("book.store"), {
          preverseScroll: true,
          onSuccess: () => {
            this.isLoading = false;
            this.dialog = false;
            this.form.reset();
          },
        });
      }
    },



    updatePreview() {
    const reader = new FileReader();
    reader.onload = (e) => {
        this.preview = e.target.result;
        this.form.image_url = e.target.result;
    };
    reader.readAsDataURL(this.$refs.photo.files[0]);
    },
    storePhoto() {
    if (this.$refs.photo) {
    this.form.photo = this.$refs.photo.files[0]
    }
    this.form.post(route('photo.store'), {
    preserveScroll: true
    });
},






  },
};
</script>
