<template>
  <v-app style="background-color: #f5f5f5">
    <v-navigation-drawer
      :src="'/images/bg_blur.jpg'"
      :mini-variant.sync="miniVariant"
      :color='success'
      dark
      clipped
      v-model="drawer"
      fixed
      app
    >
      <v-list nav>
        <v-list-item-group v-if="user.role === '1'" :value="indexMenu">
          <v-list-item
            v-for="(item, i) in admin_items"
            :key="i"
            @click="goToPage(item.to)"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-action>
              <v-icon>mdi-exit-to-app</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>

        <v-list-item-group v-if="user.role === '0'" :value="undergraduateIndexMenu">
          <v-list-item
            v-for="(item, i) in undergraduate_items"
            :key="i"
            @click="goToPage(item.to)"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content >
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-action>
              <v-icon>mdi-exit-to-app</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>


      </v-list>
    </v-navigation-drawer>
    <v-app-bar color="primary" clipped-left fixed dark app>
      <v-app-bar-nav-icon
        v-if="$vuetify.breakpoint.smAndDown"
        @click.stop="drawer = !drawer"
      />
      <v-app-bar-nav-icon v-else @click.stop="miniVariant = !miniVariant" />
      <v-toolbar-title v-text="projectName" />
      <v-spacer />
      <div class="d-flex align-center">
    <v-chip color="info" label>
    <v-icon left>mdi-account-circle-outline</v-icon>
      {{ user.name }}
    </v-chip>
      </div>
    </v-app-bar>
    <v-main>
      <v-container>
        <slot />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import ApplicationLogo from "../components/ApplicationLogo.vue";
export default {
  components: { ApplicationLogo },
  data() {
    return {
      projectName:"Sistem Informasi Perpustakaan Universitas XYZ",
      drawer: !this.$vuetify.breakpoint.smAndDown,
      admin_items: [
        { icon: "mdi-domain", title: "Katalog Buku", to: "/" },
        { icon: "mdi-apps", title: "Dashboard", to: "home" },
        { icon: "mdi-book", title: "Buku Perpustakaan", to: "book.index" },
        { icon: "mdi-apps-box", title: "Subjek Buku", to: "book-subject.index" },
        { icon: "mdi-wall", title: "Lantai Penyimpanan", to: "book-storage-floor.index" },
        { icon: "mdi-account", title: "Anggota Perpustakaan", to: "user.index" },
        { icon: "mdi-note-text", title: "Peminjaman", to: "book-rent.index" },
      ],
      undergraduate_items: [
        { icon: "mdi-domain", title: "Katalog Buku", to: "/" },
      ],
      miniVariant: false,
    };
  },
  computed: {
    appName() {
      return this.$page.props.appName;
    },
    user() {
      return this.$page.props.auth.user;
    },
    indexMenu() {
      const inertiaUrl = this.$inertia.page.url.split("?")[0];
      const index = this.admin_items.findIndex((item) => {
        const windowUrl = this.route(item.to);
        return windowUrl.includes(inertiaUrl);
      });
      return index;
    },
    undergraduateIndexMenu() {
      const inertiaUrl = this.$inertia.page.url.split("?")[0];
      const index = this.undergraduate_items.findIndex((item) => {
        const windowUrl = this.route(item.to);
        return windowUrl.includes(inertiaUrl);
      });
      return index;
    },
  },
  watch: {
    $page: {
      handler() {
        const message = this.$page.props.flash.message;
        if (message != null) {
          switch (message.type) {
            case "success":
              this.$toast.success(message.text);
              break;
            case "error":
              this.$toast.error(message.text);
              break;
          }
        }
      },
    },
  },
  methods: {
    logout() {
      this.$inertia.post("/logout");
    },
    goToPage(page) {
      this.$inertia.visit(this.route(page));
    },
  },
};
</script>
