<template >
  <guest-layout class="hero" >
    <v-main >
      <v-container fluid>

      <v-form @submit.prevent="register">

        <v-row align="center" justify="center" style="height: 100vh">
          <v-col cols="10" sm="10" md="4" lg="4">
            <v-card>
              <v-card-title class="d-flex align-center justify-center">
                <Link :href="route('/')">
                </Link>Daftar akun baru
              </v-card-title>
              <v-card-text>
                <p class="text-2xl font-weight-semibold text--primary mb-6">
                  
                </p>
                <p class="mb-2">Silahkan isi formulir berikut untuk mendaftar akun baru.</p>
              </v-card-text>
              <v-card-text>


                
                  <v-text-field
                    v-model="form.name"
                    prepend-inner-icon="mdi-account"
                    label="Nama"
                    outlined
                    dense
                    type="text"
                    :error-messages="form.errors.name"
                  />
                  <v-text-field
                    v-model="form.member_id"
                    prepend-inner-icon="mdi-email"
                    label="ID mahasiswa/admin"
                    type="text"
                    outlined
                    dense
                    :error-messages="form.errors.member_id"
                  />
                  <v-text-field
                    v-model="form.email"
                    prepend-inner-icon="mdi-email"
                    label="Email"
                    type="email"
                    outlined
                    dense
                    :error-messages="form.errors.email"
                  />
                  <v-text-field
                    v-model="form.address"
                    prepend-inner-icon="mdi-home"
                    label="Alamat Tempat Tinggal"
                    type="text"
                    outlined
                    dense
                    :error-messages="form.errors.address"
                  />
                  <v-text-field
                    v-model="form.phone"
                    prepend-inner-icon="mdi-phone"
                    label="No. telepon"
                    type="text"
                    outlined
                    dense
                    :error-messages="form.errors.phone"
                  />

                  
                
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="10" sm="10" md="4" lg="4">
            <v-card>
              <v-card-text>

                  <v-radio-group label="Tipe Akun" v-model="form.role">
                  <v-radio label="Mahasiswa" :value="Mahasiswa"></v-radio>
                  <v-radio v-if="this.admin_key === '12345'" label="Admin" :value="Admin"></v-radio>
                  </v-radio-group>

                  <v-text-field
                    v-model="admin_key"
                    prepend-inner-icon="mdi-key"
                    label="Kunci admin"
                    type="password"
                    outlined
                    dense
                    :error-messages="form.errors.admin_key"
                  />
                  <v-text-field
                    v-model="form.activated"
                    prepend-inner-icon="mdi-check"
                    label="Activated"
                    type="text"
                    outlined
                    disabled
                    filled
                    dense
                    value="Belum"
                    :error-messages="form.errors.activated"
                  />
                  <v-text-field
                    v-model="form.password"
                    prepend-inner-icon="mdi-lock"
                    label="Password"
                    outlined
                    dense
                    :error-messages="form.errors.password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    @click:append="showPassword = !showPassword"
                  />
                  <v-text-field
                    v-model="form.password_confirmation"
                    prepend-inner-icon="mdi-lock"
                    label="Konfirmasi Password"
                    :error-messages="form.errors.password_confirmation"
                    outlined
                    dense
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    @click:append="showPassword = !showPassword"
                  />
                  <v-btn :loading="form.processing" type="submit" block color="primary" class="mt-3"
                    >Daftar</v-btn
                  >
                
              </v-card-text>
              <v-card-text
                class="d-flex align-center justify-center flex-wrap mt-2"
              >
                <span class="me-2"> Sudah punya akun? </span>
                <Link :href="route('login')"> Silahkan login. </Link>
              </v-card-text>
            </v-card>
          </v-col>


        </v-row>

        </v-form>

      </v-container>
    </v-main>
  </guest-layout>
</template>

<style scoped>
.hero {
  background-image: url('../../../../public/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
</style>

<script>
import ApplicationLogo from "../../components/ApplicationLogo.vue";
import GuestLayout from '../../layouts/GuestLayout.vue';
export default {
  components: { ApplicationLogo, GuestLayout },
  data() {
    return {
      admin_key: null,
      showPassword: false,
      isLoading: false,
      form: this.$inertia.form({
        name: null,
        member_id:null,
        email: null,
        address: null,
        phone: null,
        role: null,
        admin_key:null,
        activated: 'Belum',
        password: null,
        password_confirmation: null,
      }),
    };
  },
  methods: {
    register() {
    if (this.form.admin_key == 'Admin') {
      console.log("You choose admin")
    } else {
      this.form.post("/register");
    }
    },
  },
};
</script>
